*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header img{
    height: 60px;
}

nav{
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover{
    color: crimson;
    text-decoration: none;
}

.azeez{height: 500px;
    background-image: url("image/banner.jpg");
    background-size: cover;
    background-position: right;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color:blue;
}

div{border-right: 10px solid white;
}